 

html,
body {
    height: 100%;
    font-family: 'CenturyGothicRegular' !important;
    font-size: 14px;
 
 
}

.layout-boxed html,
.layout-boxed body {
    height: 100%
}

body {
    
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table
}

.wrapper:after {
    clear: both
}

.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative
}

.layout-boxed {
    background: url('../img/boxed-bg.jpg') repeat fixed
}

.content-wrapper,
.main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820
}

.layout-top-nav .content-wrapper,
.layout-top-nav .main-footer {
    margin-left: 0
}

@media (max-width:768px) {
    .content-wrapper,
    .main-footer {
        margin-left: 0
    }
}

@media (min-width:768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .main-footer {
        margin-left: 0
    }
}

@media (max-width:768px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0)
    }
}

.content-wrapper {
    min-height: 100%;
    background-color: #e6e6ec;
    z-index: 800
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #0b6c9f;
    border-top: 1px solid #d2d6de;
    text-align: center;

}

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px
}

@media (max-width:768px) {
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px
    }
}

.fixed.layout-boxed .wrapper {
    max-width: 100%
}

.fixed .wrapper {
    overflow: hidden
}

.hold-transition .content-wrapper,
.hold-transition .right-side,
.hold-transition .main-footer,
.hold-transition .main-sidebar,
.hold-transition .left-side,
.hold-transition .main-header .navbar,
.hold-transition .main-header .logo,
.hold-transition .menu-open .fa-angle-left {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.content {
    min-height: 0px;
    padding:24px 0 0 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 
 font-weight: 100;
 font-family: 'CenturyGothicBold' !important;
}

a {
    color: #3c8dbc
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2
}

.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px
}

.page-header>small {
    color: #666;
    display: block;
    margin-top: 5px
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030
}

.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0
}

.layout-top-nav .main-header .navbar {
    margin-left: 0
}

.main-header #navbar-search-input.form-control {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent
}

.main-header #navbar-search-input.form-control:focus,
.main-header #navbar-search-input.form-control:active {
    border-color: rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9)
}

.main-header #navbar-search-input.form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.main-header #navbar-search-input.form-control:-ms-input-placeholder {
    color: #ccc
}

.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
    color: #ccc
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right
}

@media (max-width:991px) {
    .main-header .navbar-custom-menu a,
    .main-header .navbar-right a {
        color: inherit;
        background: transparent;
        display: none;

    }
    .main-header .navbar {
    margin: 0;
}

.skin-blue .main-header .navbar {
    background-color: #fff;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

}

@media (max-width:768px) {
    .main-header .navbar-right {
        float: none
    }
    .navbar-collapse .main-header .navbar-right {
        margin: 7.5px -15px
    }
    .main-header .navbar-right>li {
        color: inherit;
        border: 0
    }
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome
}

.main-header .sidebar-toggle:before {
    content: "\f0c9"
}

.main-header .sidebar-toggle:hover {
    color: #fff
}

.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
    background: transparent
}

.main-header .sidebar-toggle .icon-bar {
    display: none
}

.main-header .navbar .nav>li.user>a>.fa,
.main-header .navbar .nav>li.user>a>.glyphicon,
.main-header .navbar .nav>li.user>a>.ion {
    margin-right: 5px
}

.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9
}

.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 72px;
    font-size: 18px;
    line-height:14px;
     
    width: 230px;
      
    padding: 0px 15px;
    font-weight: 300;
    overflow: hidden
}

.main-header .logo .logo-lg {
    display: block
}

.main-header .logo .logo-mini {
    display: none
}

.main-header .navbar-brand {
    color: #fff
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px
}

.content-header>h1 {
    margin: 0;
    font-size: 24px
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block
}

.content-header>.breadcrumb>li>a>.fa,
.content-header>.breadcrumb>li>a>.glyphicon,
.content-header>.breadcrumb>li>a>.ion {
    margin-right: 5px
}

.content-header>.breadcrumb>li+li:before {
    content: '>\00a0'
}

@media (max-width:991px) {
    .content-header>.breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #d2d6de;
        padding-left: 10px
    }
    .content-header>.breadcrumb li:before {
        color: #97a0b3
    }
}

.navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 15px
}

@media (max-width:991px) {
    .navbar-custom-menu .navbar-nav>li {
        float: left
    }
    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left
    }
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px
    }
}

@media (max-width:768px) {
    .main-header {
        position: relative
    }
    .main-header .logo,
    .main-header .navbar {
        width: 100%;
        float: none
    }
    .main-header .navbar {
        margin: 0
    }
    .main-header .navbar-custom-menu {
        float: right
    }
}

@media (max-width:991px) {
    .navbar-collapse.pull-left {
        float: none !important
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px
    }

    .skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
    background: #117db7;
    padding: 26px 23px 26px 23px !important;
}
}
 

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top:72px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out
}

@media (max-width:768px) {
    .main-sidebar {
        padding-top: 72px
    }
     .skin-blue .main-header .navbar .sidebar-toggle {
     color: #fff;
     background: #117db7;
     padding: 21px 23px 21px 23px !important;
 }
}

@media (max-width:768px) {
    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)
    }
}

@media (min-width:768px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)
    }
}

@media (max-width:768px) {
    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.sidebar {
    padding-bottom: 10px
}

.sidebar-form input:focus {
    border-color: transparent
}

 

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
     border-bottom:solid 1px #ececec;

}

.sidebar-menu>li>a {
    padding: 14px 5px 14px 5px;
    display: block;
    font-size: 1em;
    font-weight: 600;
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    width: 38px
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
    margin-right: 5px
}

.sidebar-menu>li .badge {
    margin-top: 3px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

.sidebar-menu li>a>.fa-angle-left,
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease
}

.sidebar-menu li>a>.fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px
}

.sidebar-menu .menu-open>a>.fa-angle-left,
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sidebar-menu .active>.treeview-menu {
    display: block
}

 
 
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden
}

.sidebar-menu:hover {
    overflow: visible
}

.sidebar-form,
.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip
}

.sidebar-menu li>a {
    position: relative
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px
}

 
 
 

.dropdown-menu {
    box-shadow: none;
    border-color: #eee
}

.dropdown-menu>li>a {
    color: #777
}

.dropdown-menu>li>a>.glyphicon,
.dropdown-menu>li>a>.fa,
.dropdown-menu>li>a>.ion {
    margin-right: 10px
}

.dropdown-menu>li>a:hover {
    background-color: #e1e3e9;
    color: #333
}

.dropdown-menu>.divider {
    background-color: #eee
}

 

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
        background: #fff !important;
        color: #444 !important
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    content: " ";
    display: table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear: both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666666
}

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #f9f9f9
    }
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px
}

@media (max-width:768px) {
    .navbar-nav>.user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px
    }
}

 
.navbar-custom-menu>.navbar-nav>li {
    position: relative
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto
}

@media (max-width:991px) {
    .navbar-custom-menu>.navbar-nav {
        float: right
    }
    .navbar-custom-menu>.navbar-nav>li {
        position: static
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff
    }
}

 
.progress,
.progress>.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress,
.progress>.progress-bar,
.progress .progress-bar,
.progress>.progress-bar .progress-bar {
    border-radius: 30px;
    color:#f41e3c !important;
    height: 11px;
}

 

 

.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px
}

.treeview-menu .treeview-menu {
    padding-left: 20px
}

.treeview-menu>li {
    margin: 0
}

.treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px
}

.treeview-menu>li>a>.fa,
.treeview-menu>li>a>.glyphicon,
.treeview-menu>li>a>.ion {
    width: 20px
}

.treeview-menu>li>a>.pull-right-container>.fa-angle-left,
.treeview-menu>li>a>.pull-right-container>.fa-angle-down,
.treeview-menu>li>a>.fa-angle-left,
.treeview-menu>li>a>.fa-angle-down {
    width: auto
}

 