     .skin-blue .main-header .navbar {
        background-color: #fff;
        -webkit-box-shadow: 0 8px 6px -6px #D9D9D9;
        -moz-box-shadow: 0 8px 6px -6px #D9D9D9;
        box-shadow: 0 8px 6px -6px #D9D9D9;
    }
    
    .skin-blue .main-header .navbar .nav>li>a {
        color: #fff
    }
    
    .skin-blue .main-header .navbar .nav>li>a:hover,
    .skin-blue .main-header .navbar .nav>li>a:active,
    .skin-blue .main-header .navbar .nav>li>a:focus,
    .skin-blue .main-header .navbar .nav .open>a,
    .skin-blue .main-header .navbar .nav .open>a:hover,
    .skin-blue .main-header .navbar .nav .open>a:focus,
    .skin-blue .main-header .navbar .nav>.active>a {
        background: rgba(0, 0, 0, 0.1);
        color: #f6f6f6
    }
    
    .skin-blue .main-header .navbar .sidebar-toggle {
        color: #fff
    }
    
    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        color: #f6f6f6;
        background: rgba(0, 0, 0, 0.1)
    }
    
    .skin-blue .main-header .navbar .sidebar-toggle {
        color: #fff;
        background: #117db7;
        padding: 26px 23px 24px 23px;
    }
    
    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        background-color: #367fa9
    }
    
    @media (max-width:767px) {
        .skin-blue .main-header .navbar .dropdown-menu li.divider {
            background-color: rgba(255, 255, 255, 0.1)
        }
        .skin-blue .main-header .navbar .dropdown-menu li a {
            color: #fff
        }
        .skin-blue .main-header .navbar .dropdown-menu li a:hover {
            background: #367fa9
        }
    }
    
    .skin-blue .main-header .logo {
        background-color: #117db7;
        color: #fff;
        border-bottom: 0 solid transparent;
        position: absolute;
        padding: 2.5% 1% 0% 1%;
        border-bottom: solid 3px #1f89c3;
    }
    
    .skin-blue .main-header .logo:hover {
        background-color: #357ca5
    }
    
    .skin-blue .main-header li.user-header {
        background-color: #3c8dbc
    }
    
    .skin-blue .content-header {
        background: transparent
    }
    
    .skin-blue .wrapper,
    .skin-blue .main-sidebar,
    .skin-blue .left-side {
        background-color: #fff;
        -webkit-box-shadow: 5px 0 5px -5px #D9D9D9;
        -moz-box-shadow: 5px 0 5px -5px #D9D9D9;
    }
    
    .skin-blue .user-panel>.info,
    .skin-blue .user-panel>.info>a {
        color: #fff
    }
    
    .skin-blue .sidebar-menu>li.header {
        color: #4b646f;
        background: #1a2226
    }
    
    .skin-blue .sidebar-menu>li>a {
        border-left: 3px solid transparent
    }
    
    .skin-blue .sidebar-menu>li:hover>a,
    .skin-blue .sidebar-menu>li.active>a,
    .skin-blue .sidebar-menu>li.menu-open>a {
        color: #fff;
        background: #0f74ac;
    }
    
    .skin-blue .sidebar-menu>li.active>a {
        border-left-color: #3c8dbc
    }
    
    .skin-blue .sidebar-menu>li>.treeview-menu {
        margin: 0 1px;
        background: #2c3b41
    }
    
    .skin-blue .sidebar a {
        color: #5b5b5b;
    }
    
    .skin-blue .sidebar a:hover {
        text-decoration: none
    }
    
    .skin-blue .sidebar-menu .treeview-menu>li>a {
        color: #8aa4af
    }
    
    .skin-blue .sidebar-menu .treeview-menu>li.active>a,
    .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
        color: #fff
    }
    
    .skin-blue .sidebar-form {
        border-radius: 3px;
        border: 1px solid #374850;
        margin: 10px 10px
    }
    
    .skin-blue .sidebar-form input[type="text"],
    .skin-blue .sidebar-form .btn {
        box-shadow: none;
        background-color: #374850;
        border: 1px solid transparent;
        height: 35px
    }
    
    .skin-blue .sidebar-form input[type="text"] {
        color: #666;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px
    }
    
    .skin-blue .sidebar-form input[type="text"]:focus,
    .skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
        background-color: #fff;
        color: #666
    }
    
    .skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
        border-left-color: #fff
    }
    
    .skin-blue .sidebar-form .btn {
        color: #999;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0
    }
    
    .skin-blue.layout-top-nav .main-header>.logo {
        background-color: #3c8dbc;
        color: #fff;
        border-bottom: 0 solid transparent
    }
    
    .skin-blue.layout-top-nav .main-header>.logo:hover {
        background-color: #3b8ab8
    }
    
    .img_logo {
        width: 100%;
        
    }
    
    .img_logo li {
        float: left;
        width: 45%;
        margin-left: 4.5%;


    }

    .img_logo li:after {
  content: '';
    position: absolute;
    right: 86px;
    top: 16px;
    width: 0;
    height: 47px;
    border-right: solid 1px #aab2bd;

}
    
   
    
    .img_logo li:last-child {
        border-right: none;
    }
    
    .logo_heading h1 {
        font-size: 1.5em;
        margin-left: 15%;
        margin-top: 22%;
        text-transform: uppercase;
        width: 100%;
        font-family: 'CenturyGothicBold' !important;
    }
    
    .user_bg {
        float: left;
        background-color: #fff;
        width: 100%;
    }
    
    .user_img {
        background-image: url('../../../assets/images/garph.png');
        background-repeat: no-repeat;
        background-position: 101% -64%;
        width: 100%;
        float: left;
        padding: 0 2% 0% 2%;
        height: 138px;
    }
    
    .user_img_1 {
        background-image: url('../../../assets/images/garph_2.png');
        background-repeat: no-repeat;
        background-position: 103% -21%;
        width: 100%;
        float: left;
    }
    
    .user_img_2 {
        background-image: url('../../../assets/images/garph_3.png');
        background-repeat: no-repeat;
        background-position: 103% -21%;
        width: 100%;
        float: left;
    }
    
    .user_img_3 {
        background-image: url('../../../assets/images/garph_4.png');
        background-repeat: no-repeat;
        background-position: 104% -44%;
        width: 100%;
        float: left;
    }
    
    .user_img h1 {
        font-size: 1.5em;
        text-transform: capitalize;
        margin: 3% 0 3% 0;
        padding: 0;
    }
    
    .number_pad h1 {
        color: #5b5b5b;
        font-size: 1.2em;
        font-weight: 800;
        text-transform: capitalize;
    }
    
    .number_pad p {
        color: #48cfad;
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .number_pad {
        padding: 5% 5% 5% 5%;
    }
    
    .resources {
        color: #967adc !important;
    }
    
    .goals {
        color: #4fc1e9 !important;
    }
    
    .date_section {
        width: 100%;
        background-color: #fff;
        background-image: url('../../../assets/images/time.png');
        background-repeat: no-repeat;
        background-position: 103% 23%;
        height: auto;
    }
    
    .date_color {
        background-color: #65d188;
        width: 100%;
        float: left;
        padding: 5% 3% 4% 0%;
        margin-bottom: 4%;
    }
    
    .date_color h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        text-transform: capitalize;
        font-size: 1.4em;
    }
    
    .date_color a {
        background-color: #fff !important;
        border: none;
        border-radius: 5px;
        color: #000;
        text-transform: capitalize;
        font-size: 1em;
        padding: 1% 5% 1% 5%;
    }
    
    .time_pad {
        padding: 10% 5% 2% 5%;
    }
    
    .time_pad p {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
    
    .time_pad h1 {
        margin: 6% 0 6% 0;
        padding: 0;
        font-size: 1.4em;
        font-weight: 800;
    }
    
    .time_pad a {
        font-size: 1em;
        border: solid 1px #117db7;
        color: #117db7;
        padding: 3% 6%;
        font-weight: 500;
    }
    
    .top_nav {
        margin: 15% 0 11% 0;
    }
    
    .notes {
        width: 100%;
        background-color: #fff;
        float: left;
        border-bottom: solid 1px #aeaeae;
        padding-bottom: 0%;
        margin-bottom: 3%;
    }
    
    .notes h1 {
        margin: 2% 0 0 0;
        padding: 0;
        text-transform: capitalize;
        color: #5b5b5b;
        font-size: 1.4em;
    }
    
    .notes .fa {
        font-size: 2em;
    }
    
    .notes_border {
        padding: 1% 3% 5% 3%;
    }
    
    .para_data {
        width: 100%;
        background-color: #fff;
        padding: 3% 3% 6% 3%;
        height: auto;
    }
    
    .para_data ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .para_data ul li {
        font-size: 1.1em;
        width: 80%;
            margin-top: 3%;
                margin-left: 2%;
                 color: #aca9a9;
    }
    
     .para_data ul li span{margin-left: -1px;
     
    }
    .para_data a {
        background-color: #48cfad;
        color: #fff;
        float: left;
        padding: 2px 20px;
        border-radius: 5px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .para_data ul li:before{
    background: url('../../../assets/images/line.png') no-repeat;
    content: "";
    display: inline-block;
    width: 22px;
    height: 97px;
    margin-left: -22px;
    margin-bottom: -80px;
}
    
    
    .para_data li p {
        margin: 0 0 0% 0;
        padding: 0;
        color: #353535;
        
    }
    
    .development {
        background-color: #4fc1e9 !important;
    }
    
    .resou {
        background-color: #a58ee0 !important;
    }
    
    .content_bottom {
        padding-bottom: 1.5%;
    }
    
    .sidebar img {
        padding-right: 15px;
    }
    
    .no_mobile_pad {
        padding-right: 0 !important;
    }
    
    .logo h2 {
        margin: 0;
        padding: 0;
        font-size: 21px;
        color: #034d74;
        font-weight: normal;
    }
    
    .time_pad a:hover {
        background-color: #117db7;
        color: #fff;
    }
    
    .user_triad_1 {
        background-image: url('../../../assets/images/cal.png');
        background-repeat: no-repeat;
        background-position: 105% -29%;
        width: 100%;
        float: left;
    }
    
    .user_triad_2 {
        background-image: url('../../../assets/images/clock.png');
        background-repeat: no-repeat;
        background-position: 105% -29%;
        width: 100%;
        float: left;
    }
    
    .user_triad_3 {
        background-image: url('../../../assets/images/garph_2.png');
        background-repeat: no-repeat;
        background-position: 105% -29%;
        width: 100%;
        float: left;
    }
    
    .yellow_date p {
        color: #f6bb42;
    }
    
    .triad_color {
        color: #48cfad;
    }
    
    .data_tab {
        width: 100%;
        background-color: #fff;
        float: left;
        padding: 2% 0 2% 0;
    }
    
    .data_border {
        border-right: solid 1px #cdcbd2;
    }
    
    .data_tab h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 1.3em;
        color: #5b5b5b;
    }
    
    .data_tab p {
        margin: 2% 0 2% 0;
        padding: 0;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        color: #da4453;
    }
    
    .data_bottom {
        border-bottom: solid 3px #da4453;
    }
    
    .data_yellow p {
        color: #f6bb42;
    }
    
    .data_blue p {
        color: #9378da;
    }
    
    .data_orang p {
        color: #d16eab;
    }
    
    .traid h1 {
        margin: 49% 2% 0% 35% !important;
    }
    
    .data_pad {
        padding: 0 !important;
    }
    
    .main_data {
        width: 100%;
        background-color: #fff;
        float: left;
        margin-bottom: 2%;
    }
    
    .datasheet {
        width: 100%;
        background-color: #da4453;
        float: left;
        padding: 2% 0 2% 0;
    }
    
    .datasheet ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .datasheet li {
        color: #fff;
        font-size: 1.2em;
    }
    
    .datasheet ul li a {
        display: block;
        color: #5b5b5b;
        background-color: #fff;
        border-radius: 6px;
        font-size: 15px;
        padding: .5% 7% .5% 7%;
        text-transform: uppercase;
        margin-top: 1%;
    }
    
    .table_data {
        width: 100%;
        padding: 0% 2% 5% 2%;
        margin-top: 2%;
        float: left;
    }
    
    .table_data table tr td {
        font-size: 1.1em;
        color: #5b5b5b;
        border: none;
        border-bottom: solid 1px #aaa6a6;
        line-height: 30px;
        font-weight: 500;
    }
    
    .selected-filter {
        font-size: 1.2em;
        margin-top: 4%;
        margin-left: -3%;
        color: #989898;
    }
    
    .selected-filter_1 {
        font-size: 1.2em;
        margin-top: 4%;
        margin-left: -3%;
        color: #989898;
    }
    
    .drop_select {
        margin: 2% 0 2% 0;
    }
    
    .drop_select p {
        margin: 0 0 0 5%;
        padding: 0;
        font-size: 1.1em;
        color: #5b5b5b;
        font-weight: 600;
    }
    
    .filters-dropdown {
        vertical-align: middle;
        margin-left: 0px;
        width: 238px;
        border: 1px solid #e3e3e3;
        background: #eeeeee;
        cursor: pointer;
        position: relative;
        padding: 0 4% 0 2%;
        height: auto;
    }
    
    .filters-dropdown_1 {
        vertical-align: middle;
        margin-left: 0px;
        width: 238px;
        border: 1px solid #e3e3e3;
        background: #eeeeee;
        cursor: pointer;
        position: relative;
        padding: 0 4% 0 2%;
        height: auto;
    }
    
    .pos_relative {
        position: relative !important;
    }
    
    .filters-dropdown ul {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        list-style: none;
        background: #fff;
        cursor: pointer;
        z-index: 999999;
    }
    
    .filters-dropdown ul li {
        text-transform: uppercase;
        padding: 10px 15px 10px 15px;
        border-bottom: 1px solid #eee;
        float: none;
        -webkit-transition: .45s;
        -o-transition: .45s;
        transition: .45s;
    }
    
    .filters-dropdown_1 ul {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        list-style: none;
        background: #fff;
        cursor: pointer;
        z-index: 999999;
    }
    
    .filters-dropdown_1 ul li {
        text-transform: uppercase;
        padding: 10px 15px 10px 15px;
        border-bottom: 1px solid #eee;
        float: none;
        -webkit-transition: .45s;
        -o-transition: .45s;
        transition: .45s;
    }
    
    .dib {
        display: inline-block !important;
        vertical-align: top;
    }
    
    .date_bg {
        border: none !important;
        background-color: #eeeeee !important;
        box-shadow: none !important;
        height: 41px !important;
    }
    
    .input-group-addon:last-child {
        border-left: solid 1px #c4c2c2 !important;
        line-height: 28px !important;
    }
    
    .input-group-addon {
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }
    
    .drop_select a {
        font-size: 1.2em;
        border: solid 1px #117db7;
        color: #117db7;
        padding: 2% 6%;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .drop_select .top_nav {
        margin: 9% 0 5% 0;
    }
    
    .drop_select a:hover {
        background-color: #117db7;
        color: #fff;
    }
    
    .copyright {
        color: #1975a5;
    }
    
    .cal_book {
        width: 238px;
    }
    
    .data_right {
        padding-right: 0 !important;
    }
    
    .data_left {
        padding-left: 0 !important;
    }
    
    .content_slot {
        background-color: #f2f2f2;
    }
    
    .book_slot_width {
        width: 100%;
        border: solid 1px #117db7;
        -webkit-box-shadow: 0 0 10px 0 #C9C9C9;
        box-shadow: 0 0 10px 0 #C9C9C9;
    }
    
    .content_slot p {
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 6%;
        margin-top: 0%;
        font-weight: 600;
    }
    
    .book_date {
        background-color: #fff !important;
    }
    
    .book_slot_width .input-group-addon:last-child {
        border-left: solid 1px #117db7 !important;
        line-height: 28px;
    }
    
    .book_slot_width .fa {
        color: #117db7;
    }
    
    .book_table {
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0 0 10px 2px #CCCCCC;
        box-shadow: 0 0 10px 2px #CCCCCC;
        margin-top: 4%;
    }
    
    .book_table table tr th {
        text-align: center;
        color: #5b5b5b;
        padding: 3% 0 3% 0;
        font-weight: 700;
        font-size: 1.2em;
    }
    
    .book_table table tr td {
        text-align: center;
        font-size: 1.2em;
        padding: 3% 0 3% 0;
        color: #656565;
    }
    
    .book_table table tr td p {
        font-size: 1em;
        padding: 0;
        margin: 4% 0 0 0;
    }
    
    .book_table .btn-default {
        color: #117db7;
        border: none;
        border-radius: 0px;
        text-transform: uppercase;
        width: 130px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: solid 1px #117db7;
        font-weight: 700;
    }
    
    .book_table .btn-default:hover {
        background-color: #117db7;
        color: #fff;
    }
    
    .main_modal .modal-content {
        border-radius: 0px !important;
        margin-top: 30%;
    }
    
    .main_modal .modal-header {
        background-color: #117db7;
        color: #fff;
    }
    
    .main_modal .modal-title {
        font-weight: normal;
        font-size: 1.5em;
    }
    
    .main_modal button.close {
        color: #fff;
    }
    
    .main_modal .close {
        float: right;
        font-size: 31px;
        font-weight: 100;
        opacity: 1;
        outline: 0;
    }
    
    .pop_modal {
        width: 80%;
        margin: 0 auto;
        padding: 8% 0 8% 0;
    }
    
    .pop_modal h1 {
        font-size: 1.4em;
        text-align: center;
        font-weight: 600;
    }
    
    .pop_modal p {
        font-size: 1.1em;
        text-align: center;
        font-weight: 100;
    }
    
    .book_pad {
        padding: 0 !important;
    }
    
    .time_color {
        color: #33b695;
    }
    
    .time_disble {
        color: #bbbbbb;
    }
    
    .drop_menu {
        margin: 2% 0 2% 0;
    }
    
    .select_width {
        width: 238px;
    }
    
    .drop_menu p {
        margin: 0 0 0 5%;
        padding: 0;
        font-size: 1.1em;
        color: #5b5b5b;
        font-weight: 600;
    }
    
    .leader_borad {
        width: 100%;
        background-color: #fff;
        float: left;
        padding: 6% 0% 6% 2%;
        -webkit-box-shadow: 0 0 10px 3px #DEDEDE;
        box-shadow: 0 0 10px 3px #DEDEDE;
        margin-bottom: 6%;
    }
    
    .leader_borad h1 {
        margin: 0;
        padding: 0;
        font-size: 1.4em;
        color: #404040;
    }
    
    .yeas_leader {
        margin: 8% 0 0 0 !important;
        padding: 0;
        font-size: 1.4em !important;
        color: #5b5b5b !important;
        font-weight: 600;
    }
    
    .leader_borad p {
        margin: 0;
        padding: 0;
        font-size: 1em;
        color: #736e6e;
    }
    
    .circle {
        width: 100px;
        height: 100px;
        background: #65d188;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0 0 10px 5px #DEDEDE;
        box-shadow: 0 0 10px 5px #DEDEDE;
    }
    
    .circle p {
        position: absolute;
        top: 37px;
        font-weight: 600;
        font-size: 1.4em;
        color: #fff;
        left: 54px;
    }
    
    .octagon_img {
        position: absolute;
        bottom: -4px;
        left: 82px;
    }
    
    .octagon_img p {
        margin: 0;
        padding: 0;
        position: absolute;
        font-size: 1.5em;
        bottom: 4px;
        font-weight: 600;
        left: 13px;
    }
    
    .content_leader {
        width: 100%;
    }
    
    .main_leader {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 2%;
    }
    
    .design_circle {
        width: 30%;
        float: left;
    }
    
    .design_content {
        width: 60%;
        float: right;
    }
    
    .borad_white {
        background-color: #fff;
        color: #000;
    }
    
    .board_black {
        color: #686868 !important;
    }
    
    .blue_circle {
        background-color: #4fc1e9 !important;
    }
    
    .dark_circle {
        background-color: #9378da !important;
    }
    
    .yellow_circle {
        background-color: #f6bb42 !important;
    }
    
    .blue_1_circle {
        background-color: #a58ee1 !important;
    }
    
    .table_data_1 {
        width: 100%;
        background-color: #fff;
        float: left;
    }
    
    .table_blue {
        background-color: #117db7;
        color: #fff;
        font-size: 1.2em;
        padding: 1% 0 1% 0;
    }
    
    .circle_resours {
        width: 50px;
        height: 50px;
        background: #65d188;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0 0 10px 5px #DEDEDE;
        box-shadow: 0 0 10px 5px #DEDEDE;
        margin-left: 39%;
    }
    
    .circle_resours p {
        position: absolute;
        font-weight: 600;
        font-size: 1.1em;
        color: #fff;
        bottom: 9%;
    }
    
    .table_data_1 td {
        font-size: 1.2em;
        font-weight: 600;
        padding-top: 2%;
    }
    
    .table_data_1 td p {
        margin: 0% 0 0 0;
        padding: 0;
        line-height: 49px;
    }
    
    .table_yellow {
        background-color: #f3f3f3;
    }
    
    .table_data_1 thead tr th {
        padding: 1% 0 1% 0;
    }
    
    .example {
        display: inline-block;
        padding-left: 0;
        margin: -20px 0 20px 0;
        border-radius: 0px !important;
    }
    
    .pagination>li>a,
    .pagination>li>span {
        border: solid .5px #117db7 !important;
        display: block;
    }
    
    .pagination>li:first-child>a,
    .pagination>li:first-child>span {
        margin-left: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .pagination>li:last-child>a,
    .pagination>li:last-child>span {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
