 @media only screen and (max-width: 1280px) {
    .number_pad h1 {
        font-size: 1.4em;
        display: block;
    }
}

@media (max-width:991px) {
    .content-part .section-triad {
        margin-bottom: 16px !important;
    }
    .content-part {
        margin-top: 113px;
    }
    .section-time-bg {
        padding: 2% 3% 2% 0%;
    }
    .section-time p {
        margin: 0 0 10% 0;
    }
    .section-time {
        padding-bottom: 10%;
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .login_logo {
        margin-top: 8%;
        width: 100%;
        padding: 15% 10% 12% 10%;
        margin-left: 0%;
        z-index: 2;
        margin-bottom: -3%;
        position: relative;
    }
    .login_blue {
        width: 100%;
        background-color: rgba(25, 90, 151, 0.8);
        float: left;
        padding: 8% 2% 0% 2%;
        margin-bottom: 10%;
    }
    .admin_user .btn-default {
        width: 40%;
        margin-bottom: 5%;
        margin-left: 30%;
        float: left;
    }
    /* Dashboar is start */
    .main-header .sidebar-toggle {
        float: left;
        background-color: transparent;
        background-image: none;
        padding: 25px 20px;
        font-family: fontAwesome;
        font-size: 1.5em;
    }
    .number_pad h1 {
        font-size: 1.2em;
    }
    .number_pad {
        padding: 0% 5% 5% 5%;
    }
    .content {
        min-height: 0px;
        padding: 14px 0 0 0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .time_pad h1 {
        margin: 2% 0 2% 0;
    }
    .time_pad a {
        font-size: 1.3em;
        border: solid 1px #117db7;
        color: #117db7;
        padding: 1% 3%;
    }
    .top_nav {
        margin: 5% 0 5% 0;
    }
    .time_pad {
        padding: 10% 5% 2% 5%;
        margin-bottom: 3%;
    }
    .para_data {
        width: 100%;
        background-color: #fff;
        padding: 3% 3%;
        margin-bottom: 2%;
    }
    .data_pad {
        padding: 14px !important;
    }
    .data_tab {
        margin-bottom: 2%;
    }
    .data_right {
        padding-right: 14px !important;
    }
    .data_left {
        padding-left: 14px !important;
    }
    .pop_modal {
        width: 100%;
        margin: 0 auto;
        padding: 8% 0 8% 0;
    }
    .yeas_leader {
        margin: 0% 0 0 0 !important;
    }
    .leader_right {
        text-align: right;
    }
    .leader_borad {
        width: 100%;
        background-color: #fff;
        float: left;
        padding: 3%;
    }
    .content_leader {
        margin-left: -10%;
        margin-top: 5%;
    }
    .mobile_right {
        width: 50%;
        float: left;
    }
    .mobile_right_1 {
        width: 30%;
        float: right;
    }
    .design_content {
        width: 70%;
        float: right;
    }
    .mobile_logo .img_logo_1 li {
        width: 50%;
        float: left;
    }
    .mobile_logo .img_logo_1 li {
        border-right: solid 1px #aab2bd;
        padding-right: 17px;
        display: inline-block;
        position: relative;
        height: 60px;
    }
    .mobile_logo .img_logo_1 img {
        margin: 0 auto;
        position: relative;
        top: -30%;
    }
    .mobile_logo .img_logo_1 li:last-child {
        border-right: none;
    }
}

@media only screen and (max-width: 425px) {
    .login_logo {
        margin-top: 8%;
        width: 100%;
        padding: 15% 6% 12% 6%;
        margin-left: 0%;
        z-index: 2;
        margin-bottom: -3%;
        position: relative;
    }
    .login_logo p {
        font-size: 1em;
        margin-top: 26%;
        font-weight: 300;
        text-align: center;
    }
    .img_logo {
        width: 100%;
    }
    .login_blue p {
        font-size: 1.2em;
        color: #fff;
        padding: 8% 0 8% 0;
        text-align: center;
    }
    .admin_user .btn-default {
        width: 70%;
        margin-bottom: 9%;
        margin-left: 17%;
        float: left;
    }
    .admin_user p {
        font-size: 1.5em;
        font-weight: 500;
        padding: 5% 0 10%;
    }
    .select_user h2 {
        font-size: 20px;
        margin-bottom: 20%;
    }
    .select_user span {
        font-size: 20px;
        margin-top: 16%;
    }
    .admin_user {
        margin-top: -24%;
        padding-bottom: 82%;
    }
    .img_logo li {
        float: left;
        width: 39%;
        margin-left: 9.5%;
    }
    .main-header .navbar-custom-menu {
        float: right;
        width: 55%;
        margin-top: 2%;
    }
    .notes {
        margin-bottom: 11%;
    }
    .content_leader {
        margin-left: 5%;
        margin-top: 9%;
        width: 100%;
        float: left;
    }
    .leader_borad h1 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        color: #404040;
    }
    .yeas_leader {
        margin: 0% 0 0 0 !important;
        padding: 0;
        font-size: 1.2em !important;
        color: #5b5b5b !important;
        font-weight: 600;
    }
    .leader_heding h1 {
        margin: 5% 0 0 0 !important;
    }
    .font_mobile {
        font-size: 1em !important;
    }
    .mobile_right_1 {
        width: 49%;
        float: right;
    }
    .leader_borad {
        width: 100%;
        background-color: #fff;
        float: left;
        padding: 2% 0 2% 0;
    }
    .circle {
        width: 82px;
        height: 80px;
    }
    .circle p {
        position: absolute;
        top: 26px;
        font-weight: 600;
        font-size: 1.4em;
        color: #fff;
        left: 44px;
    }
    .octagon_img {
        position: absolute;
        bottom: -6px;
        left: 64px;
    }
    .circle_resours {
        width: 50px;
        height: 50px;
        background: #65d188;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0 0 10px 5px #DEDEDE;
        box-shadow: 0 0 10px 5px #DEDEDE;
        margin-left: 0% !important;
    }
    .table_data_1 td {
        font-size: 10px;
        font-weight: 600;
        padding-top: 2%;
        line-height: 20px;
    }
    .table_data_1 td p {
        margin: 0% 0 0 0;
        padding: 0;
        line-height: 45px;
    }
    .number_pad h1 {
        font-size: 1em;
    }
    .time_pad p {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    .time_pad h1 {
        margin: 3% 0 3% 0;
        padding: 0;
        font-size: 1em;
        font-weight: 800;
    }
    .time_pad a {
        font-size: 1em;
        border: solid 1px #117db7;
        color: #117db7;
        padding: 1% 3%;
    }
    .notes h1 {
        margin: 6% 0 0 0;
        padding: 0;
        text-transform: capitalize;
        color: #5b5b5b;
        font-size: 1em;
    }
    .traid h1 {
        margin: 88% 2% 0% 35% !important;
    }
    .number_pad p {
        color: #48cfad;
        font-size: 1em;
        font-weight: 600;
    }
    .data_tab h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 1em;
        color: #5b5b5b;
    }
    .table_data table tr td {
        font-size: 1em;
    }
    .drop_select a {
        font-size: 1em;
    }
    .cal_book {
        width: 200px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 200px !important;
    }
    .content_slot p {
        text-align: center;
        font-size: 1em;
    }
    .book_table table tr th {
        text-align: center;
        color: #5b5b5b;
        padding: 3% 0 3% 0;
        font-weight: 700;
        font-size: 1em;
    }
    .pop_modal h1 {
        font-size: 1em;
        text-align: center;
        font-weight: 600;
    }
    .pop_modal p {
        font-size: .9em;
        text-align: center;
        font-weight: 100;
    }
    .table_blue {
        background-color: #117db7;
        color: #fff;
        font-size: 1em;
        padding: 1% 0 1% 0;
    }
    .example {
        display: inline-block;
        padding-left: 0;
        margin: 10px 0 20px 0 !important;
        border-radius: 0px !important;
    }
    .para_data ul li {
        font-size: 1.1em;
        width: 80%;
        margin-top: 3%;
        margin-left: 6%;
    }
    .content .progress-img {
        background-position: 101% -40%;
        background-size: 68px 68px;
    }
    .content-part .section-triad {
        background-position: 101% -8%;
        background-size: 68px 68px;
    }
}

@media only screen and (max-width: 360px) {
  
    .cal_book {
        width: 171px;
    }
    .table_data_1 td p {
        margin: 0% 0 0 0;
        padding: 0;
        line-height: 21px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 171px !important;
    }
    .main-header .navbar-custom-menu {
        float: right;
        width: 53%;
        margin-top: 3%;
        margin-right: -12px;
    }
    .mobile_head {
        font-size: 1em !important;
    }
    .font_mobile {
        font-size: .9em !important;
    }
    .leader_borad h1 {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }
    .dash_heading h1 {
        font-size: 1.1em !important;
    }
    .img_logo li:after {
        content: '';
        position: absolute;
        right: 68px;
        top: 23px;
        width: 0;
        height: 35px;
        border-right: solid 1px #aab2bd;
    }
}

@media (max-width: 320px) {
    .skin-blue .main-header .navbar .sidebar-toggle {
        color: #fff;
        background: #117db7;
        padding: 21px 18px 21px 18px !important;
    }
    .img_logo li {
        float: left;
        width: 39%;
        margin-left: 6.5%;
    }
}