    /* Login For Desktop css */
   
   .login {
       width: 100%;
       background: url('../../assets/images/login_background.jpg') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       float: left;
   }
   
   .login_top {
       margin: 10% 0 0% 0;
   }
   
   .login_logo {
       background: url('../../assets/images/login_bg.png') no-repeat;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       float: left;
       margin-top: 7%;
       width: 100%;
       padding: 25% 10% 25% 10%;
       margin-left: 3%;
   }
   
   .login_logo p {
       font-size: 1.1em;
       margin-top: 8%;
       font-weight: 300;
       text-align: center;
       margin-top: 26%;
   }
   
   .login_blue {
       width: 100%;
       background-color: rgba(25, 90, 151, 0.8);
       float: left;
       padding: 14% 2% 12% 2%;
   }
   
   .login_blue h1 {
       color: #fff;
       font-size: 1.5em;
       margin-bottom: 8%;
   }
   
   .login_blue input {
       width: 100%;
       padding: 0 !important;
       font-size: 1.2rem;
       color: #fff;
       border: 0;
       box-shadow: none;
       border-radius: 0;
       border-bottom: 1px solid #838080;
       background: inherit;
       text-decoration-line: none;
       font-size: 1.1em;
       height: 54px;
   }
   
   .login_blue .form-group {
       margin-bottom: 14%;
   }
   
   .login_blue placeholder {
       margin-bottom: 2%;
       color: #7b8a98;
   }
   
   .login_blue .form-control:focus {
       border-color: #838080 !important;
       outline: 0 !important;
       -webkit-box-shadow: inherit;
       box-shadow: inherit !important;
   }
   
   .login_blue input:focus {
       outline: 0 !important;
       box-shadow: inherit !important;
   }
   
   .login_blue .input-group-addon {
       padding: 6px 12px;
       font-size: 14px;
       font-weight: 400;
       line-height: 1;
       color: #fff;
       text-align: center;
       background-color: inherit !important;
       border: 1px solid #ccc;
       border-bottom: 1px solid #838080;
       border-right: inherit;
       border-top: inherit;
       border-radius: 0;
   }
   
   .login_blue .btn-default {
       background: initial !important;
       border: solid 1px #fff;
       outline: none;
       text-shadow: none;
       box-shadow: none;
       color: #fff;
       border-radius: 0px !important;
       text-transform: uppercase;
       font-size: 15px;
       padding: 3% 14% !important;
   }
   
   .login_blue .btn-default:hover {
       background-color: #ab8e4d!important;
       color: #fff;
       border: solid 1px #ab8e4d;
       outline: 0;
   }
   
   .login_blue a {
       display: block;
       color: #fff;
       font-weight: 700;
       font-size: 1.1em;
   }
   
   .login_blue a:hover {
       color: #ab8e4d;
   }
   
   .login_blue a:focus,
   a:hover {
       color: #ab8e4d;
       text-decoration: underline;
   }
   
   .login_logo .img_logo_1 img {
       margin: 0 auto;
       position: relative;
       top: -30%;
   }
   
   .login_logo .img_logo_1 {
       width: 100%;
       margin: 0 auto;
   }
   
   .login_logo .img_logo_1 li {
       border-right: solid 1px #aab2bd;
       padding-right: 17px;
       display: inline-block;
       position: relative;
       height: 60px;
   }
   
   .login_logo .img_logo_1 li {
       width: 50%;
       float: left;
   }
   
   .login_logo .img_logo_1 li:last-child {
       border-right: none;
   }
   
   .login_blue p {
       font-size: 1.2em;
       color: #fff;
       padding: 8% 0 8% 0;
   }
   
   .login_blue img {
       position: absolute;
       left: 88%;
       top: 40%;
       cursor: pointer;
       outline: none !important;
       background-position: fixed;
   }
   
   .eye_top {
       position: absolute;
       left: 88%;
       top: 22.45% !important;
   }
   
   .login_blue .group_input {
       position: relative;
       margin-bottom: 35px;
   }
   
   .login_blue .inputMaterial {
       font-size: 18px;
       padding: 10px 10px 10px 5px;
       display: block;
       width: 100%;
       border: none;
       border-bottom: 1px solid #757575;
       background: inherit;
   }
   
   .login_blue .inputMaterial:focus {
       outline: none;
   }
   /* LABEL ======================================= */
   
   .login_blue .label_anm {
       color: #999;
       font-size: 16px;
       font-weight: normal;
       position: absolute;
       pointer-events: none;
       left: 5px;
       top: 10px;
       transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
       -webkit-transition: 0.2s ease all;
   }
   /* active state */
   
   .login_blue .inputMaterial:focus ~ label,
   .inputMaterial:valid ~ label {
       top: -20px;
       font-size: 14px;
       color: #fff;
   }
   /* BOTTOM BARS ================================= */
   
   .login_blue .bar {
       position: relative;
       display: block;
       width: 100%;
   }
   
   .login_blue .bar:before,
   .bar:after {
       content: '';
       height: 2px;
       width: 0;
       bottom: 1px;
       position: absolute;
       background: #fff;
       transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
       -webkit-transition: 0.2s ease all;
   }
   
   .login_blue .bar:before {
       left: 50%;
   }
   
   .bar:after {
       right: 50%;
   }
   /* active state */
   
   .login_blue .inputMaterial:focus ~ .bar:before,
   .inputMaterial:focus ~ .bar:after {
       width: 50%;
   }
   /* active state */
   
   .login_blue .inputMaterial:focus ~ .highlight {
       -webkit-animation: inputHighlighter 0.3s ease;
       -moz-animation: inputHighlighter 0.3s ease;
       animation: inputHighlighter 0.3s ease;
   }
   
   .login_blue .btn-bottom {
       margin-top: 25%;
   }
   
   .select_user span {
       font-size: 21px;
       margin-bottom: 3%;
       display: block;
   }
   
   .select_user h2 {
       font-size: 2em;
       text-align: center;
       color: #fff;
       margin: 0;
       padding: 0;
   }
   
   .admin_user .btn-default {
       background: initial !important;
       border: solid 1px #117db7;
       outline: none;
       text-shadow: none;
       box-shadow: none;
       color: #117db7;
       border-radius: 0px !important;
       text-transform: uppercase;
       font-size: 15px;
       padding: 2% 10% !important;
       margin-left: 2%;
   }
   
   .admin_user {
       margin-top: 2%;
   }
   
   .admin_user p {
       margin: 7% 0 7% 0;
       padding: 0;
       font-size: 22px;
       font-weight: 100;
       font-family: 'CenturyGothicBold' !important;
   }
   
   .admin_user .btn-default:hover {
       background-color: #ab8e4d!important;
       color: #fff;
       border: solid 1px #ab8e4d;
       outline: 0;
   }
   
   .select_user h1 {
       color: #fff;
       margin: 5% 0 0 0;
       padding: 0;
   }
   
   .user_logo {
       margin: 0 !important;
       padding: 16% 10% 12% 10%;
   }
   
   .mobile_logo {
       margin: 15% 0 10% 8%;
       padding: 10% 0 10% 0;
   }
   /* Desktop For Dashboard css */
   
   .skin-blue .main-header .navbar {
       background-color: #fff;
       -webkit-box-shadow: 0 8px 6px -6px #D9D9D9;
       -moz-box-shadow: 0 8px 6px -6px #D9D9D9;
       box-shadow: 0 8px 6px -6px #D9D9D9;
   }
   
   .skin-blue .main-header .navbar .nav>li>a {
       color: #fff
   }
   
   .skin-blue .main-header .navbar .nav>li>a:hover,
   .skin-blue .main-header .navbar .nav>li>a:active,
   .skin-blue .main-header .navbar .nav>li>a:focus,
   .skin-blue .main-header .navbar .nav .open>a,
   .skin-blue .main-header .navbar .nav .open>a:hover,
   .skin-blue .main-header .navbar .nav .open>a:focus,
   .skin-blue .main-header .navbar .nav>.active>a {
       background: rgba(0, 0, 0, 0.1);
       color: #f6f6f6
   }
   
   .skin-blue .main-header .navbar .sidebar-toggle {
       color: #fff
   }
   
   .skin-blue .main-header .navbar .sidebar-toggle:hover {
       color: #f6f6f6;
       background: rgba(0, 0, 0, 0.1)
   }
   
   .skin-blue .main-header .navbar .sidebar-toggle {
       color: #fff;
       background: #117db7;
       padding: 21px 23px 21px 23px;
   }
   
   .skin-blue .main-header .navbar .sidebar-toggle:hover {
       background-color: #367fa9;
       text-decoration: none;
   }
   
   @media (max-width:767px) {
       .skin-blue .main-header .navbar .dropdown-menu li.divider {
           background-color: rgba(255, 255, 255, 0.1)
       }
       .skin-blue .main-header .navbar .dropdown-menu li a {
           color: #fff
       }
       .skin-blue .main-header .navbar .dropdown-menu li a:hover {
           background: #367fa9
       }
   }
   
   .skin-blue .main-header .logo {
       background-color: #117db7;
       color: #fff;
       border-bottom: 0 solid transparent;
       position: absolute;
       border-bottom: solid 3px #1f89c3;
   }
   
   .skin-blue .main-header .logo:hover {
       background-color: #357ca5
   }
   
   .skin-blue .main-header li.user-header {
       background-color: #3c8dbc
   }
   
   .skin-blue .content-header {
       background: transparent
   }
   
   .skin-blue .wrapper,
   .skin-blue .main-sidebar,
   .skin-blue .left-side {
       background-color: #fff;
       -webkit-box-shadow: 5px 0 5px -5px #D9D9D9;
       -moz-box-shadow: 5px 0 5px -5px #D9D9D9;
   }
   
   .skin-blue .user-panel>.info,
   .skin-blue .user-panel>.info>a {
       color: #fff
   }
   
   .skin-blue .sidebar-menu>li.header {
       color: #4b646f;
       background: #1a2226
   }
   
   .skin-blue .sidebar-menu>li>a {
       border-left: 3px solid transparent
   }
   
   .skin-blue .sidebar-menu>li:hover>a,
   .skin-blue .sidebar-menu>li.active>a,
   .skin-blue .sidebar-menu>li.menu-open>a {
       color: #fff;
       background: #0f74ac;
   }
   
   .skin-blue .sidebar-menu>li.active>a {
       border-left-color: #3c8dbc
   }
   
   .skin-blue .sidebar-menu>li>.treeview-menu {
       margin: 0 1px;
       background: #2c3b41
   }
   
   .skin-blue .sidebar a {
       color: #5b5b5b;
   }
   
   .skin-blue .sidebar a:hover {
       text-decoration: none
   }
   
   .skin-blue .sidebar-menu .treeview-menu>li>a {
       color: #8aa4af
   }
   
   .skin-blue .sidebar-menu .treeview-menu>li.active>a,
   .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
       color: #fff
   }
   
   .skin-blue .sidebar-form {
       border-radius: 3px;
       border: 1px solid #374850;
       margin: 10px 10px
   }
   
   .skin-blue .sidebar-form input[type="text"],
   .skin-blue .sidebar-form .btn {
       box-shadow: none;
       background-color: #374850;
       border: 1px solid transparent;
       height: 35px
   }
   
   .skin-blue .sidebar-form input[type="text"] {
       color: #666;
       border-top-left-radius: 2px;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
       border-bottom-left-radius: 2px
   }
   
   .skin-blue .sidebar-form input[type="text"]:focus,
   .skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
       background-color: #fff;
       color: #666
   }
   
   .skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
       border-left-color: #fff
   }
   
   .skin-blue .sidebar-form .btn {
       color: #999;
       border-top-left-radius: 0;
       border-top-right-radius: 2px;
       border-bottom-right-radius: 2px;
       border-bottom-left-radius: 0
   }
   
   .skin-blue.layout-top-nav .main-header>.logo {
       background-color: #3c8dbc;
       color: #fff;
       border-bottom: 0 solid transparent
   }
   
   .skin-blue.layout-top-nav .main-header>.logo:hover {
       background-color: #3b8ab8
   }
   /* Left sidebar Active Hover Icons */
   
   .sidebar .sidebar-menu > li.active>a.dashboard-icon,
   .sidebar .sidebar-menu > li>a:hover.dashboard-icon {
       background: url(../img/i1.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li.active>a.triad-icon,
   .sidebar .sidebar-menu > li>a:hover.triad-icon {
       background: url(../img/icon2.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li.active>a.bookslot-icon,
   .sidebar .sidebar-menu > li>a:hover.bookslot-icon {
       background: url(../img/icon3.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li.active>a.leaderboard-icon,
   .sidebar .sidebar-menu > li>a:hover.leaderboard-icon {
       background: url(../img/icon4.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li.active>a.resourses-icon,
   .sidebar .sidebar-menu > li>a:hover.resourses-icon {
       background: url(../img/icon5.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li.active>a.logout-icon,
   .sidebar .sidebar-menu > li>a:hover.logout-icon {
       background: url(../img/icon6.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   /* Left sidebar Icons */
   
   .sidebar .sidebar-menu > li>a.dashboard-icon {
       background: url(../img/ii1.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li>a.triad-icon {
       background: url(../img/i2.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li>a.bookslot-icon {
       background: url(../img/i3.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li>a.leaderboard-icon {
       background: url(../img/i4.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li>a.resourses-icon {
       background: url(../img/i5.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li>a.logout-icon {
       background: url(../img/i6.png) no-repeat;
       padding-left: 66px;
       display: block;
   }
   
   .sidebar .sidebar-menu > li > a {
       padding: 21px 20px 21px 20px;
       display: block;
       background-position: 0px center !important;
       background-size: 40px 40px !important;
   }
   
   ..sidebar .sidebar-menu > li.active > a {
       color: #f6f6f6;
       background: #f16858;
       position: relative;
   }
   
   .sidebar .sidebar-menu ul > li.active > a,
   .sidebar .sidebar-menu ul > li > a:hover {
       color: #fff;
       background-color: rgba(255, 255, 255, 0.03);
   }
   
   .main-sidebar .sidebar-menu > li.active,
   .main-sidebar .sidebar-menu > li:hover {
       background-color: #0f74ac;
       color: #000;
       transition: background-color 1s;
   }
   
   .main-sidebar .sidebar-menu ul {
       display: none;
       list-style: none;
       padding: 5px 0;
       margin: 0;
       background: rgba(0, 0, 0, 0.1);
   }
   
   .main-sidebar .sidebar-menu ul > li {
       margin: 0
   }
   
   .main-sidebar .sidebar-menu > li.active > a {
       position: relative;
   }
   
   .main-sidebar .sidebar-menu ul > li > a {
       padding: 8px 20px 8px 47px;
       display: block;
       margin: 0;
       font-weight: 400;
   }
   
   .main-sidebar .sidebar-menu ul > li.active > a,
   .main-sidebar .sidebar-menu ul > li > a:hover {
       color: #fff;
       background-color: rgba(255, 255, 255, 0.03);
   }
   
   .main-sidebar .sidebar-menu ul > li > a > i {
       width: 20px;
   }
   
   .img_logo {
       width: 100%;
   }
   
   .img_logo ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
   }
   
   .img_logo li {
       float: left;
       width: 45%;
       margin-left: 4.5%;
   }
   
   .img_logo li:after {
       content: '';
       position: absolute;
       right: 86px;
       top: 16px;
       width: 0;
       height: 47px;
       border-right: solid 1px #d9d9d9;
   }
   
   .img_logo li:last-child {
       border-right: none;
   }
   
   .logo_heading h1 {
       font-size: 1.1em;
       margin-left: 15%;
       text-transform: uppercase;
       width: 100%;
       font-family: 'CenturyGothicBold' !important;
       padding-top: 8%;
   }
   
   .main-header h2 {
       font-size: 14px;
       text-transform: capitalize;
   }
   
   .main-header span {
       font-size: 14px;
       display: block;
       text-transform: uppercase;
   }
   
   .sidebar img {
       padding-right: 15px;
   }
   
   .content .progress-img {
       width: 100%;
       float: left;
       background-color: #fff;
       background-image: url('../images/garph.png');
       background-repeat: no-repeat;
       background-position: 101% -64%;
       padding: 15px 10px;
       -webkit-box-shadow: 0 0 10px 2px #D1D1D1;
       box-shadow: 0 0 10px 2px #D1D1D1;
   }
   
   .content .progress-img h1 {
       font-size: 1.2em;
       margin-bottom: 3%;
   }
   
   .content-part .section-triad {
       width: 100%;
       float: left;
       background-color: #fff;
       background-image: url('../images/garph_2.png');
       background-repeat: no-repeat;
       background-position: 103% -21%;
       padding: 20px 25px;
   }
   
   .content-part .section-triad p {
       font-size: 1.2em;
       color: #5b5b5b;
       font-family: 'CenturyGothicBold';
   }
   
   .content-part .section-triad h1 {
       font-size: 3.4em;
       color: #48cfad;
       font-family: 'CenturyGothicBold';
   }
   
   .content-part {
       margin-top: 125px;
   }
   
   .content-part .section-triad-area {
       background-image: url('../images/garph_3.png');
       background-repeat: no-repeat;
       background-position: 103% -21%;
   }
   
   .content-part .section-triad-area h1 {
       font-size: 3.4em;
       color: #4fc1e9;
       font-family: 'CenturyGothicBold';
   }
   
   .content-part .section-triad-resources {
       background-image: url('../images/garph_4.png');
       background-repeat: no-repeat;
       background-position: 103% -21%;
   }
   
   .content-part .section-triad-resources h1 {
       font-size: 3.4em;
       color: #967adc;
       font-family: 'CenturyGothicBold';
   }
   
   .section-time {
       width: 100%;
       background-color: #fff;
       background-repeat: no-repeat;
       background-position: 103% 23%;
       float: left;
       padding-bottom: 20%;
   }
   
   .section-time a:hover {
       text-decoration: none;
   }
   
   .section-time-bg {
       background-color: #aab2bd;
       width: 100%;
       float: left;
       padding: 5% 3% 5% 0%;
       margin-bottom: 10%;
   }
   
   .section-time-bg h1 {
       margin: 0;
       padding: 0;
       color: #fff;
       text-transform: capitalize;
       font-size: 1.4em;
   }
   
   .section-time-bg a {
       background-color: #fff !important;
       border: none;
       border-radius: 7px;
       color: #000;
       text-transform: capitalize;
       font-size: 1em;
       padding: 1% 5% 1% 5%;
   }
   
   .section-time p {
       margin: 0 0 15% 0;
       padding: 10px 10px;
       text-align: center;
   }
   
   .section-btn a {
       font-size: 1.2em;
       border: solid 1px #117db7;
       color: #117db7;
       padding: 2% 6% 2% 6%;
       font-weight: 500;
       text-transform: uppercase;
       font-family: 'CenturyGothicBold';
   }
   
   .section-btn a:hover {
       background-color: #117db7;
       color: #fff;
       text-decoration: none;
   }
   
   .section-right {
       width: 100%;
       background-color: #fff;
       float: left;
       border-bottom: solid 1px #aeaeae;
       padding-bottom: 0%;
   }
   
   .section-border {
       padding: 1% 0% 1% 0%;
   }
   
   .section-right h1 {
       margin: 2% 0 0 0;
       padding: 0;
       text-transform: capitalize;
       color: #5b5b5b;
       font-size: 1.2em;
   }
   
   .section-para-content {
       width: 100%;
       background-color: #fff;
       padding: 2% 3% 2% 3%;
       height: auto;
       float: left;
   }
   
   .section-para-content ul {
       list-style: none;
       padding: 0;
       margin-left: 5px;
   }
   
   .section-para-content ul li {
       position: relative;
       padding: 3px 0 3px 30px;
   }
   
   .section-para-content li:before {
       position: absolute;
       content: "";
       height: 100%;
       width: 1px;
       left: 5px;
       top: 8px;
   }
   
   .section-para-content ul li.primary:before {
       background: #c3c3c3;
   }
   
   .section-para-content ul li.primary .point {
       background: #c3c3c3;
       border-color: #c3c3c3;
   }
   
   .section-para-content ul li .point {
       width: 9px;
       height: 9px;
       display: inline-block;
       position: absolute;
       left: 1px;
       top: 8px;
       border-radius: 100%;
       border: 1px solid transparent;
   }
   
   .section-para-content ul li p {
       margin-top: 2px;
   }
   
   .section-para-content a {
       background-color: #48cfad;
       color: #fff;
       padding: 2px 20px;
       border-radius: 7px;
       font-weight: 500;
       text-transform: uppercase;
   }
   
   .section-para-content a:hover {
       text-decoration: none;
       opacity: 0.9;
   }
   
   .section-para-content .resou {
       background-color: #a58ee0 !important;
   }
   
   .section-para-content .development {
       background-color: #4fc1e9 !important;
   }
   
   .section-para-content .time {
       color: #aca9a9;
   }
   
   .dashboard-bottom-link ul li a {
       text-transform: uppercase;
       font-family: 'CenturyGothicBold';
       text-decoration: underline;
       display: block;
       margin-bottom: 12px;
       font-size: 1em;
   }
   /* Desktop For Triad pages css */
   
   .section-triad .date-font {
       font-size: 1.9em !important;
       padding-bottom: 23px;
   }
   
   .section-triad-date {
       background-image: url('../images/cal.png') !important;
       background-repeat: no-repeat;
       background-position: 103% -21%;
   }
   
   .section-triad-time {
       background-image: url('../images/clock.png') !important;
       background-repeat: no-repeat;
       background-position: 103% -21%;
   }
   
   .content-part .tab-content {
       width: 100%;
   }
   
   .content .tab-content .nav-tabs {
       border-bottom: 2px solid #DDD;
       background-color: #fff;
   }
   
   .content .tab-content .nav-tabs > li.active > a,
   .nav-tabs > li.active > a:focus,
   .nav-tabs > li.active > a:hover {
       border-width: 0;
   }
   
   .content-part .tab-content .nav-tabs > li > a {
       border: none;
       color: #ffffff;
       
   }
   
   .content .tab-content .nav-tabs > li.active > a,
   .nav-tabs > li > a:hover {
       border: none;
       background: #fff;
   }
   
   .content .tab-content .nav-tabs > li > a::after {
       content: "";
       background: #da4453;
       height: 3px;
       position: absolute;
       width: 100%;
       left: 0px;
       bottom: -1px;
       transition: all 250ms ease 0s;
       transform: scale(0);
   }
   
   .content .tab-content .nav-tabs > li.active > a::after,
   .nav-tabs > li:hover > a::after {
       transform: scale(1);
   }
   
   .content-part .tab-content .tab-nav > li > a::after {
       background: ##5a4080 none repeat scroll 0% 0%;
       color: #fff;
   }
   
   .content .tab-content .tab-pane {
       padding: 15px 0;
   }
   
  
   
   .content .tab-content .nav-tabs > li {
       width: 25%;
       text-align: center;
       border-right: solid 1px #e3e3ea;
   }
   
   .content .tab-content .card {
       
       margin-bottom: 30px;
   }
  
   
 .tab-content .card a{display: block; color: #5b5b5b; font-size: 1.1em;  font-family: 'CenturyGothicBold';}

 .tab-content .card a p{margin: 0; padding: 0; font-size:1em !important; font-family:'CenturyGothicRegular';}

 .tab-content .card a h1{margin: 0; padding: 0; font-size:1.9em !important; font-family:'CenturyGothicBold' !important; color: #da4453;}

.tab-content .card .heading-coachee{color: #f6bb42 !important;}

.tab-content .card  .heading-Tripartite{color: #9378da;}

.tab-content .card .heading-area{color: #d26eab;}

.tab-panel-data .main-triad-data {
        width: 100%;
        background-color: #fff;
        float: left;
         
    }

      .tab-panel-data .main-triad-data .full-triad-bg {
        width: 100%;
        background-color: #da4453;
        float: left;
        padding: 2% 0 2% 0;
    }
    
    .tab-panel-data .main-triad-data .full-triad-bg ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
     .tab-panel-data .main-triad-data .full-triad-bg li {
        color: #fff;
        font-size: 1.2em;
    }
    
    .tab-panel-data .main-triad-data .full-triad-bg ul li a {
        display: block;
        color: #5b5b5b;
        background-color: #fff;
        border-radius: 6px;
        font-size: 15px;
        padding: .5% 7% .5% 7%;
        text-transform: uppercase;
        margin-top: 1%;
    }

     .tab-panel-data .main-triad-data .triad-table-data {
        width: 100%;
        padding: 0% 2% 5% 2%;
        margin-top: 2%;
        float: left;
    }
    
    .tab-panel-data .main-triad-data .triad-table-data table tr td {
        font-size: 1.1em;
        color: #5b5b5b;
        border: none;
        border-bottom: solid 1px #aaa6a6;
        line-height: 30px;
        font-weight: 500;
    }

     .tab-panel-data .main-triad-data .dropdown-select .top-nav a{
        font-size: 1.2em;
        border: solid 1px #117db7;
        color: #117db7;
        padding: 2% 6%;
        text-transform: uppercase;
        font-weight: 600;
        width: 30%;
        margin: 0 auto;
        }

 
    
    .tab-panel-data .main-triad-data .dropdown-select .top-nav a:hover {
        background-color: #117db7;
        color: #fff;
    }

     .tab-panel-data .main-triad-data .dropdown-select .date-bg{border: none !important;
        background-color: #eeeeee !important;
        box-shadow: none !important;
        height: 41px !important;
        width: 220px;
    }

    .tab-panel-data .main-triad-data .dropdown-select .input-group-addon:last-child {
        border-left: solid 1px #c4c2c2 !important;
        line-height: 28px !important;
    }
    
    .tab-panel-data .main-triad-data .dropdown-select .input-group-addon {
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }

 .tab-panel-data .main-triad-data .select-width{width: 257px !important;}

 .tab-panel-data .main-triad-data .content-space{margin-bottom: 12%;}