@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri.woff') format('woff'), url('Calibri.ttf')  format('truetype'), url('Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('Calibri-Bold.woff') format('woff'), url('Calibri-Bold.ttf')  format('truetype'), url('Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Light';
  src: url('Calibri-Light.eot?#iefix') format('embedded-opentype'),  url('Calibri-Light.woff') format('woff'), url('Calibri-Light.ttf')  format('truetype'), url('Calibri-Light.svg#Calibri-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
