body {
	font-family: 'Calibri', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

/* Header CSS */

header.header-content {
    background: #fff;
    padding: 20px 0;
}


.uppercase {
	text-transform: uppercase !important;
}

.db {
	display: block !important;
}

.dib {
	display: inline-block !important;
}

.df {
	display: flex;
	align-items: center;
}

.no_pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no_pad_right {
	padding-right: 0px !important;
}

.no_pad_left {
	padding-left: 0px !important;
}

.p-tb-20 {
	padding: 20px 0;
}

.p-tb-30 {
	padding: 30px 0;
}

.p-t-35 {
	padding-top: 35px;
}

.p-t-17 {
	padding-top: 17px;
}

.font-500 {
	font-weight: 500 !important;
}

.font-600 {
	font-weight: 600 !important;
}


/* Background color */

.gray-bg {
	background: #edeff6;
}

.purple-bg {
	background: #9881f5;
}

.light-red-bg {
	background: #e74c3c;
}

.yellow-bg {
	background: #ffa800;
}

.notification-bg {
	background: #e7ebf2;
}

.sky-bg {
	background: #00a1ff;
}

.blue-bg {
	background: #2957a4;
}

/* Border css*/

.b-b-purple {
	border-bottom: 4px solid #9881f5;
}

.b-b-red {
	border-bottom: 4px solid #e74c3c;
}

.b-b-yellow {
	border-bottom: 4px solid #ffa800;
}

.b-b-blue {
	border-bottom: 4px solid #2957a4;
}

/* Font Color */

.blue-color {
	color: #2957a4 !important;
}

.gray-color {
	color: #646464 !important;
}

.sky-color {
	color: #00a1ff !important;
}

h1.title, h1.heading {
	font-size: 30px;
	color: #404040;
	margin: 0;
	text-transform: capitalize;
}

.white-box {
	width: 100%;
	text-align: center;
	background: #fff;
    box-shadow: 2px 5px 2px -1px rgba(0, 8, 68, 0.35);
    margin-bottom: 3%;
    padding: 30px 15px;
}

/*Button Css*/

.btn, .points {
	font-size: 18px !important;
	padding: 2px 20px !important;
	border-radius: 15px !important;
}

.btn-blue {
	background: #2957a4;
	color: #fff;
	text-align: center;
}

.btn-points {
	background: #f2f2f2;
	color: #646464;
	text-align: center;
	margin: 0;
}

.btn-white {
	background: #fff;
	color: #404040;
	border: 1px solid #f5f5f5;
}

.operator-btn {
	width: 70%;
	font-size: 25px;
	text-transform: uppercase;
	padding: 30px 0;
	margin-bottom: 4%;
	border-radius: 15px;
	box-shadow: -7px 5px 10px 0px rgba(0, 8, 68, 0.22);
}



/*FOOTER CSS*/

.footer {
	background: #2957a4;
	text-align: center;
	padding: 10px 0;
}


