/*

1. Select Operator Page
	1.1 Header
	1.2 Banner
	1.3 Operator Buttons

2. Dashboard Page

3. Confirmation popup Page

4. Resources Page


4. Footer Css ( Mention in generic.css)

*/

.main-wrapper {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

a.btn:hover {
	color: #646464;
	background: #fff;
	border: 1px solid #2957a4;
}

a.btn:focus {
	background: #2957a4;
	color: #fff;
	border: 1px solid #2957a4;
	outline: 0;
}


/* ===================== Select Operator Page ===================== */


/* Banner CSS */ 

.image-holder{
	background: url('../../assets/images/banner-image.jpg') no-repeat;
	height: auto;
	background-size: 100% 100%;
}

.image-content {
	text-align: center;
    color: #fff;
    padding: 40px 0;
}

.image-content h2 {
    font-size: 40px;
    font-weight: bold;
}

.image-content h2 span {
	text-transform: uppercase;
}

.image-content p {
	font-size: 48px;
	line-height: 48px;
	padding-top: 10%;
}

/* Operator Buttons */

p.operator-p {
    font-size: 30px;
    font-family: 'Calibri';
    margin-bottom: 40px;
    color: #404040;
}

.yellow-txt{
	color: #fdb92e;
	text-transform: uppercase;
}

.btn-group {
    width: 100%;
}

.btn-group button {
	border: 0;
}

.operator-div {
    text-align: center;
    padding: 40px 0;
}

.operator-btn:hover {
	background: #2957a4;
	color: #fff;
}






/* ===================== Dashboard Page ===================== */

.number {
	font-size: 65px;
	line-height: 65px;
	color: #404040;
}

.date {
	text-align: left;
	font-size: 30px;
	color: #404040;
}

.date-inner {
    font-size: 22px;
    color: #646464;
}

.time {
	font-size: 26px;
	color: #646464;
}

.time span, .date i {
	color: #007dc6;
}

.box-icon {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    /*display: flex;
    align-items: center;*/
}

.box-icon img {
	transform: translate(60%,60%);
}

.white-box .link {
	font-size: 20px;
    font-weight: 600;
    color: #4a4a4a;
    opacity: 0.7;
}

.Notification p {
	font-size: 25px;
}

.Notification-icon {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.notification-bg img {
	transform: translate(45%,45%);
}


/* ===================== Confirmation popup Page ===================== */

.white-box .modal.in .modal-dialog {
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    -o-transform: translate(0,50%);
    transform: translate(0,50%);
}

.modal-dialog .modal-header {
	padding: 35px 15px;
	background: #71b46c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-content .modal-footer {
    padding: 15px;
    text-align: center;    
    border: none;
}

.transparent-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}

.transparent-bg {
    background: transparent;
    border: 2px solid #fff;
}

.transparent-icon i {
	color: #fff;
	transform: translate(0,18%);
}

.modal-body p {
	color: #404040;
    font-size: 30px;
}

.modal-body span {
	color: #868484;
    font-size: 25px;
}


/* ===================== Leader Board Page ===================== */

.box-icon h1 {
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	transform: translate(0%,25%);
}

.board-box {
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 2px 5px 2px -1px rgba(0, 8, 68, 0.35);
    margin-bottom: 3%;
    padding: 15px 0px;
}

.board-box h2 {
	margin: 0;
	color: #404040;
	font-weight: 600;
	text-transform: capitalize;
}

.board-box h2 span {
	font-size: 25px;
	font-weight: 500;
}

.board-box .points + span {
	font-size: 35px;	
}

.board-box .col-lg-8 {
	border-right: 2px solid #eae9e9;
}





/* ===================== Resources Page ===================== */

.list-group-item span img {
	margin-right: 25px;
}

.list-group-item h2,.list-group-item h3  {
    vertical-align: middle;
}

.list-group-item h3 {
	margin: 0;
}


@media only screen  and (max-width: 425px) { 
	.wrapper .df {
		display: block ;
	}

	.wrapper .no_pad_left {
		padding-left: 15px;
	}

	.board-box h2 {
		font-size: 25px;
	}

	.board-box h2 span {
		font-size: 20px;		
	}
}




