@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri.woff') format('woff'), url('Calibri.ttf')  format('truetype'), url('Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('Calibri-Bold.woff') format('woff'), url('Calibri-Bold.ttf')  format('truetype'), url('Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothicBold';
  src: url('CenturyGothicBold.eot?#iefix') format('embedded-opentype'),  url('CenturyGothicBold.woff') format('woff'), url('CenturyGothicBold.ttf')  format('truetype'), url('CenturyGothicBold.svg#Calibri-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothicRegular';
  src: url('CenturyGothicRegular.eot?#iefix') format('embedded-opentype'),  url('CenturyGothicRegular.woff') format('woff'), url('CenturyGothicRegular.ttf')  format('truetype'), url('CenturyGothicRegular.svg#Calibri-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),  url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf')  format('truetype'), url('glyphicons-halflings-regular.svg#Calibri-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 


 

